/* ---------- root variables ---------- */
:root {
  --white: #ffffff;
  --text-color-light: #BABABA;
  --text-color-dark: #707070;
  --font-family: "Futura", sans-serif;
}

/* ---------- general styling ---------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

html {
  margin: 0;
  height: 100%;
  text-align: center;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  width: 5%;
  height: 88vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  -webkit-animation: slide-right 1.5s both;
  animation: slide-right 1.5s both;
}

/* Style the links inside the navigation bar */
.tabbar a {
  width: 100px;
  margin: 40px;
  color: var(--text-color-light);
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.15em;
  transform: rotate(-90deg);
  text-align: center;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-80%);
    transform: translateX(-80%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Change the color of links on hover */
.tabbar a:hover {
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar .about.active {
  color: #BC8787;
  font-weight: bold;
}

.tabbar .portfolio.active {
  color: #E6DD98;
  font-weight: bold;
}

.tabbar .contact.active {
  color: black;
  font-weight: bold;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  margin: 3%;
}

/* ---------- about styling ---------- */
.content-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  position: fixed;
}

.text-container {
  width: 50%;
  height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  color: var(--text-color-dark);
}

.text-container>h1 {
  font-size: 75px;
  text-align: right;
  width: 30%;
  position: absolute;
  z-index: 3;
  padding-top: 40px;
  padding-right: 40px;
  letter-spacing: 0.17em;
  -webkit-animation: slide-bottom 1.5s both;
  animation: slide-bottom 1.5s both;
  animation-delay: 1s;
}

.text-blob {
  width: 50%;
  z-index: 2;
  margin-right: 170px;
  -webkit-animation: slide-bottom 1.5s both;
  animation: slide-bottom 1.5s both;
  animation-delay: 0.5s;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-120%);
    transform: translateY(-120%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.text-container>p {
  width: 70%;
  padding-right: 40px;
  font-family: 'Roboto Mono Light', monospace;
  -webkit-animation: slide-top 1.5s both;
  animation: slide-top 1.5s both;
  animation-delay: 1.5s;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(650%);
    transform: translateY(650%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(650%);
    transform: translateY(650%);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.img-container {
  width: 44%;
  height: 85vh;
  background-color: #BC8787;
  position: fixed;
  right: 3%;
  -webkit-animation: slide-left 2s both;
  animation: slide-left 2s both;
  animation-delay: 2s;
}

#Lag_2 {
  z-index: 1000;
  position: absolute;
  max-height: 84vh;
  width: auto;
  bottom: 0;
  right: 0;
}

.svg-g1 {
  -webkit-animation: slide-left 2s both;
  animation: slide-left 2s both;
  animation-delay: 3s;
}

.svg-g2 {
  -webkit-animation: slide-left 2s both;
  animation: slide-left 2s both;
  animation-delay: 3.5s;
}

.svg-g3 {
  -webkit-animation: slide-left 2s both;
  animation: slide-left 2s both;
  animation-delay: 4s;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(750px);
    transform: translateX(750px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(750px);
    transform: translateX(750px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/* ---------- portfolio styling ---------- */
.text-container1>h1 {
  font-size: 60px;
  width: 94%;
  position: absolute;
  z-index: 3;
  top: 7%;
  padding-top: 0px;
  letter-spacing: 0.17em;
  -webkit-animation: slide-bottom 1.5s both;
  animation: slide-bottom 1.5s both;
  animation-delay: 1s;
  color: var(--text-color-dark);
}

.text-container1>p {
  width: 60%;
  font-family: 'Roboto Mono Light', monospace;
  margin: 0 auto;
  padding-bottom: 250px;
}

.blob-yellow {
  margin-left: 300px;
  margin-top: 10px;
  width: 12%;
  top: 0;
  left: 0;
  position: absolute;
}

/* Slideshow container */
.slideshow-container {
  width: 94%;
  position: absolute;
  height: 70vh;
  bottom: 0;
  margin-bottom: 3%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 70vh;
}

.slide1>.img-container2 {
  background-color: #BDD4B3;
  background-image: url(../img/blob-slide1.svg);
  background-size: 140%;
  background-position: left;
}

.text-container2>h1 {
  font-size: 20px;
  font-weight: 200;
  text-align: center;
  width: 100%;
  z-index: 3;
  letter-spacing: 0.17em;
  padding-top: 70px;
}

.slide2>.img-container2 {
  background-color: #25817E;
  background-image: url(../img/blob-slide2.svg);
  background-size: 140%;
  background-position: right;
}

.slide3>.img-container2 {
  background-color: #8CA37F;
  background-image: url(../img/blob-slide3.svg);
  background-size: 140%;
  background-position: right;
}

.slide4>.img-container2 {
  background-color: #CEAA90;
  background-image: url(../img/blob-slide4.svg);
  background-size: 140%;
  background-position: left;
}

/* The dots/bullets/indicators */
.dot-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  height: 75vh;
  width: auto;
  margin: 0 49%;
  z-index: 20;
}

.dot {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 3px;
  background-color: var(--white);
  border: 1px solid var(--text-color-dark);
  border-radius: 50%;
  display: inline-block;
}

.dot1.active {
  background-color: #BDD4B3;
  border: 1px solid #BDD4B3;
}

.dot2.active {
  background-color: #25817E;
  border: 1px solid #25817E;
}

.dot3.active {
  background-color: #8CA37F;
  border: 1px solid #8CA37F;
}

.dot4.active {
  background-color: #CEAA90;
  border: 1px solid #CEAA90;
}

.dot5.active {
  background-color: var(--text-color-dark);
}

.dot6.active {
  background-color: var(--text-color-dark);
}

.dot1:hover {
  background-color: #BDD4B3;
  border: 1px solid #BDD4B3;
}

.dot2:hover {
  background-color: #25817E;
  border: 1px solid #25817E;
}

.dot3:hover {
  background-color: #8CA37F;
  border: 1px solid #8CA37F;
}

.dot4:hover {
  background-color: #CEAA90;
  border: 1px solid #CEAA90;
}

.dot5:hover {
  background-color: var(--text-color-light);
}

.dot6:hover {
  background-color: var(--text-color-light);
}

.text-container2 {
  width: 52%;
  height: 100%;
  background-color: var(--white);
  color: var(--text-color-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-container2>p {
  width: 60%;
  font-family: 'Roboto Mono Light', monospace;
  margin: 0 auto;
  padding: 20px 0px;
  font-size: 12px;
}

.img-container2 {
  width: 48%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-container2>img {
  width: 30%;
}

/* Style the tab */
.tab {
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

/* Style the buttons inside the tab */
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 2px 2px;
  transition: 0.3s;
  background-color: transparent;
  color: var(--white);
  font-size: 10px;
  margin: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  color: var(--white);
}

/* Create an active/current tablink class */
.tab button.active {
  color: var(--white);
  border-bottom: 1px solid var(--white);
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}

.tabcontent>.bassin7-mobile {
  width: 45%;
}

.tabcontent>.bassin7-laptop {
  width: 90%;
}

.img-container2>.webdocumentary {
  width: 90%;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@media screen and (orientation: portrait) {
  .tabbar {
    width: 100%;
    height: 5vh;
    position: fixed;
    flex-direction: row;
    z-index: 100;
    -webkit-animation: slide-bottom 1.5s both;
    animation: slide-bottom 1.5s both;
  }

  /* Style the links inside the navigation bar */
  .tabbar a {
    transform: rotate(0deg);
  }

  .content-container {
    width: 94%;
    height: 94vh;
    flex-direction: column;
  }

  .text-container {
    width: 100%;
    height: 40vh;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .text-container>h1 {
    width: 50%;
    padding-top: 0px;
    text-align: right;
    left: 0;
    margin-left: 40px;
    -webkit-animation: slide-right 1.5s both;
    animation: slide-right 1.5s both;
    animation-delay: 1s;
  }

  .text-blob {
    width: 50%;
    -webkit-animation: slide-right 1.5s both;
    animation: slide-right 1.5s both;
    animation-delay: 0.5s;
  }

  @-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-400px);
      transform: translateX(-400px);
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-400px);
      transform: translateX(-400px);
    }

    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .text-container>p {
    width: 50%;
    text-align: left;
    -webkit-animation: slide-left 1.5s both;
    animation: slide-left 1.5s both;
    animation-delay: 1.5s;
  }

  .img-container {
    width: 100%;
    height: 60vh;
    bottom: 0;
    right: 0;
    -webkit-animation: slide-top 2s both;
    animation: slide-top 2s both;
    animation-delay: 2s;
  }

  #Lag_2 {
    max-height: 55vh;
    width: auto;
    right: 0;
  }

  .svg-g1 {
    animation-delay: 2.5s;
  }

  .svg-g2 {
    animation-delay: 3s;
  }

  .svg-g3 {
    animation-delay: 3.5s;
  }

  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(650px);
      transform: translateY(650px);
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(650px);
      transform: translateY(650px);
    }

    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

@media screen and (max-width: 600px) {
  .tabbar a {
    margin: 0px;
    text-align: center;
  }

  .page {
    margin: 0px;
  }

  .content-container {
    width: 100%;
    height: 94vh;
    bottom: 0;
  }

  .text-container {
    width: 100%;
    flex-direction: column;
  }

  .text-container>h1 {
    width: 100%;
    font-size: 45px;
    margin-left: 0px;
    padding-top: 40px;
    top: 0;
  }

  .text-blob {
    width: 40%;
    margin-right: 200px;
    margin-bottom: 20px;
  }

  .text-container>p {
    width: 80%;
    text-align: center;
    padding-right: 0px;
    padding-bottom: 40px;
  }

  .img-container {
    height: 60%;
    position: absolute;
  }

  #Lag_2 {
    height: auto;
  }
}